environment:
  matrix:
    - TOXENV: py27
    - TOXENV: py35
    - TOXENV: py36
    - TOXENV: py37

matrix:
  allow_failures:
    - TOXENV: py27

install:
  - "choco install gnuplot"
  - "refreshenv"
  - "py -m pip install --upgrade pip"
  - "py -m pip install wheel tox tox-appveyor"
  - "py bin/downloads.py"

build: off

test_script:
  - "py -m tox"
