language:
  python

python:
  - 2.7
  - 3.5
  - 3.6
  - 3.7
  - 3.8
  - 3.9-dev

addons:
  apt:
    packages:
      - gnuplot

install:
  - pip install -U pip
  - pip --version
  - pip install tox-travis
  - python bin/downloads.py

script:
  - tox
